body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #008014;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 .col-1, #LayoutGrid1 .col-2, #LayoutGrid1 .col-3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1
{
}
#LayoutGrid1 .col-1, #LayoutGrid1 .col-2, #LayoutGrid1 .col-3
{
   float: left;
}
#LayoutGrid1 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid1 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 66.66666667%;
   text-align: center;
}
#LayoutGrid1 .col-3
{
   background-color: transparent;
   background-image: none;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 .col-1, #LayoutGrid1 .col-2, #LayoutGrid1 .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #008014;
   background-image: none;
   border: 0px #FFFFFF solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 .col-1, #LayoutGrid2 .col-2, #LayoutGrid2 .col-3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2
{
}
#LayoutGrid2 .col-1, #LayoutGrid2 .col-2, #LayoutGrid2 .col-3
{
   float: left;
}
#LayoutGrid2 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid2 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 66.66666667%;
   text-align: left;
}
#LayoutGrid2 .col-3
{
   background-color: transparent;
   background-image: none;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 .col-1, #LayoutGrid2 .col-2, #LayoutGrid2 .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(ECO-PC.jpeg);
   background-repeat: no-repeat;
   background-position: center top;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3
{
}
#LayoutGrid3 .col-1
{
   float: left;
}
#LayoutGrid3 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 .col-1
{
   float: none;
   width: 100%;
}
}
#Line1
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #008014;
   background-image: none;
   border: 0px #FFFFFF solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid4
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 .col-1, #LayoutGrid4 .col-2, #LayoutGrid4 .col-3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4
{
}
#LayoutGrid4 .col-1, #LayoutGrid4 .col-2, #LayoutGrid4 .col-3
{
   float: left;
}
#LayoutGrid4 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid4 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 66.66666667%;
   text-align: left;
}
#LayoutGrid4 .col-3
{
   background-color: transparent;
   background-image: none;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 .col-1, #LayoutGrid4 .col-2, #LayoutGrid4 .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text3 div
{
   text-align: justify;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid5
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 .col-1, #LayoutGrid5 .col-2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5
{
}
#LayoutGrid5 .col-1, #LayoutGrid5 .col-2
{
   float: left;
}
#LayoutGrid5 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: center;
}
#LayoutGrid5 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 .col-1, #LayoutGrid5 .col-2
{
   float: none;
   width: 100%;
}
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px #000000 solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   display: inline-block;
   width: 456px;
   height: 303px;
   vertical-align: top;
}
#Line2
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #008014;
   background-image: none;
   border: 0px #FFFFFF solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid6
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6
{
}
#LayoutGrid6 .col-1
{
   float: left;
}
#LayoutGrid6 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 .col-1
{
   float: none;
   width: 100%;
}
}
#Shape1
{
   border-width: 0;
}
#Line3
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#Line4
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #805000;
   background-image: none;
   border: 0px #FFFFFF solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid7
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 .col-1, #LayoutGrid7 .col-2, #LayoutGrid7 .col-3, #LayoutGrid7 .col-4, #LayoutGrid7 .col-5
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7
{
}
#LayoutGrid7 .col-1, #LayoutGrid7 .col-2, #LayoutGrid7 .col-3, #LayoutGrid7 .col-4, #LayoutGrid7 .col-5
{
   float: left;
}
#LayoutGrid7 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid7 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 8.33333333%;
   text-align: center;
}
#LayoutGrid7 .col-3
{
   background-color: transparent;
   background-image: none;
   width: 25%;
   text-align: center;
}
#LayoutGrid7 .col-4
{
   background-color: transparent;
   background-image: none;
   width: 8.33333333%;
   text-align: center;
}
#LayoutGrid7 .col-5
{
   background-color: transparent;
   background-image: none;
   width: 25%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 .col-1, #LayoutGrid7 .col-2, #LayoutGrid7 .col-3, #LayoutGrid7 .col-4, #LayoutGrid7 .col-5
{
   float: none;
   width: 100%;
}
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#FontAwesomeIcon1
{
   height: 42px;
   width: 41px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 41px;
   line-height: 42px;
   vertical-align: middle;
   width: 40px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #FFFFFF;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon2
{
   height: 41px;
   width: 48px;
}
#FontAwesomeIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 41px;
   line-height: 41px;
   vertical-align: middle;
   width: 34px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid8
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8
{
}
#LayoutGrid8 .col-1
{
   float: left;
}
#LayoutGrid8 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 .col-1
{
   float: none;
   width: 100%;
}
}
#Line5
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_FontAwesomeIcon1
{
   display: inline-block;
   width: 41px;
   height: 42px;
   text-align: center;
   z-index: 11;
}
#wb_FontAwesomeIcon2
{
   display: inline-block;
   width: 48px;
   height: 41px;
   text-align: center;
   z-index: 13;
}
#Shape1
{
   width: 221px;
   height: 47px;
}
#wb_Image1
{
   display: inline-block;
   width: 456px;
   height: 303px;
   z-index: 5;
}
#wb_Text5
{
   position: absolute;
   left: 744px;
   top: 1127px;
   width: 213px;
   height: 32px;
   text-align: center;
   z-index: 23;
}
#Line1
{
   display: block;
   width: 100%;
   height: 565px;
   z-index: 2;
}
#Line2
{
   display: block;
   width: 100%;
   height: 2px;
   z-index: 4;
}
#Line3
{
   display: block;
   width: 100%;
   height: 15px;
   z-index: 9;
}
#wb_Shape1
{
   display: inline-block;
   width: 221px;
   height: 47px;
   z-index: 8;
   position: relative;
}
#Line4
{
   display: block;
   width: 100%;
   height: 15px;
   z-index: 7;
}
#Line5
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 15;
}
@media only screen and (min-width: 1920px)
{
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 13px;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid1 .col-1
{
   text-align: center;
}
#LayoutGrid1 .col-2
{
   text-align: center;
}
#LayoutGrid1 .col-3
{
   text-align: center;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 13px;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid2 .col-1
{
   text-align: center;
}
#LayoutGrid2 .col-2
{
   text-align: left;
}
#LayoutGrid2 .col-3
{
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   font-size: 13px;
   background-color: transparent;
   background-image: url(ECO-PC.jpeg);
   background-repeat: no-repeat;
   background-position: center center;
}
#LayoutGrid3 .col-1
{
   text-align: center;
}
#Line1
{
   visibility: visible;
   display: block;
   color: #000000;
   font-size: 13px;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   font-size: 13px;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid4 .col-1
{
   text-align: center;
}
#LayoutGrid4 .col-2
{
   text-align: left;
}
#LayoutGrid4 .col-3
{
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid5 .col-1
{
   text-align: center;
}
#LayoutGrid5 .col-2
{
   text-align: center;
}
#wb_Text4
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Image1
{
   width: 537px;
   height: 357px;
   visibility: visible;
   display: inline-block;
}
#Image1
{
   width: 537px;
   height: 357px;
}
#Line2
{
   visibility: visible;
   display: block;
   color: #000000;
   font-size: 13px;
   background-color: #A0A0A0;
   background-image: none;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
   font-size: 13px;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid6 .col-1
{
   text-align: center;
}
#wb_Shape1
{
   visibility: visible;
   display: inline-block;
}
#Line3
{
   visibility: visible;
   display: block;
   color: #000000;
   font-size: 13px;
   background-color: #A0A0A0;
   background-image: none;
}
#Line4
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   font-size: 13px;
   background-color: #805000;
   background-image: none;
}
#LayoutGrid7 .col-1
{
   text-align: left;
}
#LayoutGrid7 .col-2
{
   text-align: left;
}
#LayoutGrid7 .col-3
{
   text-align: left;
}
#LayoutGrid7 .col-4
{
   text-align: left;
}
#LayoutGrid7 .col-5
{
   text-align: left;
}
#wb_Text6
{
   visibility: visible;
   display: block;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon1
{
   width: 41px;
   height: 42px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 41px;
   height: 42px;
}
#FontAwesomeIcon1 i
{
   line-height: 42px;
   font-size: 41px;
}
#wb_Text8
{
   visibility: visible;
   display: block;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon2
{
   width: 59px;
   height: 41px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 59px;
   height: 41px;
}
#FontAwesomeIcon2 i
{
   line-height: 41px;
   font-size: 41px;
}
#wb_Text5
{
   left: 1455px;
   top: 1199px;
   width: 450px;
   height: 16px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid8 .col-1
{
   text-align: left;
}
#Line5
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
}
@media only screen and (min-width: 1280px) and (max-width: 1919px)
{
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid1 .col-1
{
   text-align: center;
}
#LayoutGrid1 .col-2
{
   text-align: center;
}
#LayoutGrid1 .col-3
{
   text-align: center;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid2 .col-1
{
   text-align: center;
}
#LayoutGrid2 .col-2
{
   text-align: left;
}
#LayoutGrid2 .col-3
{
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: url(ECO-PC.jpeg);
   background-repeat: no-repeat;
   background-position: center top;
}
#LayoutGrid3 .col-1
{
   text-align: center;
}
#Line1
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid4 .col-1
{
   text-align: center;
}
#LayoutGrid4 .col-2
{
   text-align: left;
}
#LayoutGrid4 .col-3
{
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid5 .col-1
{
   text-align: center;
}
#LayoutGrid5 .col-2
{
   text-align: center;
}
#wb_Text4
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Image1
{
   width: 537px;
   height: 357px;
   visibility: visible;
   display: inline-block;
}
#Image1
{
   width: 537px;
   height: 357px;
}
#Line2
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid6 .col-1
{
   text-align: center;
}
#wb_Shape1
{
   visibility: visible;
   display: inline-block;
}
#Line3
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#Line4
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   background-color: #805000;
   background-image: none;
}
#LayoutGrid7 .col-1
{
   text-align: center;
}
#LayoutGrid7 .col-2
{
   text-align: center;
}
#LayoutGrid7 .col-3
{
   text-align: center;
}
#LayoutGrid7 .col-4
{
   text-align: center;
}
#LayoutGrid7 .col-5
{
   text-align: center;
}
#wb_Text6
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon1
{
   width: 41px;
   height: 42px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 41px;
   height: 42px;
}
#FontAwesomeIcon1 i
{
   line-height: 42px;
   font-size: 41px;
}
#wb_Text8
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon2
{
   width: 59px;
   height: 41px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 59px;
   height: 41px;
}
#FontAwesomeIcon2 i
{
   line-height: 41px;
   font-size: 41px;
}
#wb_Text5
{
   left: 1455px;
   top: 1199px;
   width: 450px;
   height: 16px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid8 .col-1
{
   text-align: left;
}
#Line5
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_Text7
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid1 .col-1
{
   text-align: center;
}
#LayoutGrid1 .col-2
{
   text-align: center;
}
#LayoutGrid1 .col-3
{
   text-align: center;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid2 .col-1
{
   text-align: center;
}
#LayoutGrid2 .col-2
{
   text-align: left;
}
#LayoutGrid2 .col-3
{
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: url(ECO-PC.jpeg);
   background-repeat: no-repeat;
   background-position: center top;
}
#LayoutGrid3 .col-1
{
   text-align: center;
}
#Line1
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid4 .col-1
{
   text-align: center;
}
#LayoutGrid4 .col-2
{
   text-align: left;
}
#LayoutGrid4 .col-3
{
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid5 .col-1
{
   text-align: center;
}
#LayoutGrid5 .col-2
{
   text-align: center;
}
#wb_Text4
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Image1
{
   width: 482px;
   height: 321px;
   visibility: visible;
   display: inline-block;
}
#Image1
{
   width: 482px;
   height: 321px;
}
#Line2
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid6 .col-1
{
   text-align: center;
}
#wb_Shape1
{
   visibility: visible;
   display: inline-block;
}
#Line3
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#Line4
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   background-color: #805000;
   background-image: none;
}
#LayoutGrid7 .col-1
{
   text-align: left;
}
#LayoutGrid7 .col-2
{
   text-align: left;
}
#LayoutGrid7 .col-3
{
   text-align: left;
}
#LayoutGrid7 .col-4
{
   text-align: left;
}
#LayoutGrid7 .col-5
{
   text-align: left;
}
#wb_Text6
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon1
{
   width: 41px;
   height: 42px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 41px;
   height: 42px;
}
#FontAwesomeIcon1 i
{
   line-height: 42px;
   font-size: 41px;
}
#wb_Text8
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon2
{
   width: 52px;
   height: 41px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 52px;
   height: 41px;
}
#FontAwesomeIcon2 i
{
   line-height: 41px;
   font-size: 41px;
}
#wb_Text5
{
   left: 782px;
   top: 1126px;
   width: 226px;
   height: 16px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid8 .col-1
{
   text-align: left;
}
#Line5
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_Text7
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait)
{
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid1 .col-1
{
   text-align: center;
}
#LayoutGrid1 .col-2
{
   text-align: center;
}
#LayoutGrid1 .col-3
{
   text-align: center;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   font-size: 8px;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid2 .col-1
{
   text-align: center;
}
#LayoutGrid2 .col-2
{
   text-align: left;
}
#LayoutGrid2 .col-3
{
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   font-size: 8px;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   background-color: transparent;
   background-image: url(ECO-PC.jpeg);
   background-repeat: no-repeat;
   background-position: center top;
}
#LayoutGrid3 .col-1
{
   text-align: center;
}
#Line1
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   font-size: 8px;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid4 .col-1
{
   text-align: center;
}
#LayoutGrid4 .col-2
{
   text-align: left;
}
#LayoutGrid4 .col-3
{
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   font-size: 8px;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid5 .col-1
{
   text-align: center;
}
#LayoutGrid5 .col-2
{
   text-align: center;
}
#wb_Text4
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Image1
{
   width: 354px;
   height: 235px;
   visibility: visible;
   display: inline-block;
}
#Image1
{
   width: 354px;
   height: 235px;
}
#Line2
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   font-size: 8px;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
   font-size: 8px;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid6 .col-1
{
   text-align: center;
}
#wb_Shape1
{
   visibility: visible;
   display: inline-block;
}
#Line3
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   font-size: 8px;
   background-color: #A0A0A0;
   background-image: none;
}
#Line4
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   font-size: 8px;
   background-color: #805000;
   background-image: none;
}
#LayoutGrid7 .col-1
{
   text-align: center;
}
#LayoutGrid7 .col-2
{
   text-align: center;
}
#LayoutGrid7 .col-3
{
   text-align: center;
}
#LayoutGrid7 .col-4
{
   text-align: center;
}
#LayoutGrid7 .col-5
{
   text-align: center;
}
#wb_Text6
{
   visibility: visible;
   display: block;
   font-size: 8px;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon1
{
   width: 31px;
   height: 42px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 31px;
   height: 42px;
}
#FontAwesomeIcon1 i
{
   line-height: 42px;
   font-size: 31px;
   width: 31px;
}
#wb_Text8
{
   visibility: visible;
   display: block;
   font-size: 8px;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon2
{
   width: 31px;
   height: 41px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 31px;
   height: 41px;
}
#FontAwesomeIcon2 i
{
   line-height: 41px;
   font-size: 31px;
   width: 27px;
}
#wb_Text5
{
   left: 591px;
   top: 1070px;
   width: 162px;
   height: 32px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid8 .col-1
{
   text-align: left;
}
#Line5
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_Text7
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
}
@media only screen and (max-width: 767px)
{
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid1 .col-1
{
   text-align: center;
}
#LayoutGrid1 .col-2
{
   text-align: center;
}
#LayoutGrid1 .col-3
{
   text-align: center;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid2 .col-1
{
   text-align: center;
}
#LayoutGrid2 .col-2
{
   text-align: left;
}
#LayoutGrid2 .col-3
{
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: url(ECO-PC.jpeg);
   background-repeat: no-repeat;
   background-position: center top;
}
#LayoutGrid3 .col-1
{
   text-align: center;
}
#Line1
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid4 .col-1
{
   text-align: center;
}
#LayoutGrid4 .col-2
{
   text-align: left;
}
#LayoutGrid4 .col-3
{
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid5 .col-1
{
   text-align: center;
}
#LayoutGrid5 .col-2
{
   text-align: center;
}
#wb_Text4
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Image1
{
   width: 290px;
   height: 193px;
   visibility: visible;
   display: inline-block;
}
#Image1
{
   width: 290px;
   height: 193px;
}
#Line2
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
   background-color: #008014;
   background-image: none;
}
#LayoutGrid6 .col-1
{
   text-align: center;
}
#wb_Shape1
{
   visibility: visible;
   display: inline-block;
}
#Line3
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line4
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   background-color: #805000;
   background-image: none;
}
#LayoutGrid7 .col-1
{
   text-align: center;
}
#LayoutGrid7 .col-2
{
   text-align: center;
}
#LayoutGrid7 .col-3
{
   text-align: center;
}
#LayoutGrid7 .col-4
{
   text-align: center;
}
#LayoutGrid7 .col-5
{
   text-align: center;
}
#wb_Text6
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon1
{
   width: 41px;
   height: 42px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 41px;
   height: 42px;
}
#FontAwesomeIcon1 i
{
   line-height: 42px;
   font-size: 41px;
   width: 40px;
}
#wb_Text8
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_FontAwesomeIcon2
{
   width: 51px;
   height: 41px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 51px;
   height: 41px;
}
#FontAwesomeIcon2 i
{
   line-height: 41px;
   font-size: 41px;
   width: 34px;
}
#wb_Text5
{
   left: 15px;
   top: 1809px;
   width: 290px;
   height: 16px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid8 .col-1
{
   text-align: left;
}
#Line5
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_Text7
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
}
